
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Error</title>
</head>
<body>
    <h2>User Name or Password is incorrect. Please try again.</h2>
    <a href="Index">Click here to Go Back</a>
</body>
</html>