
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>

    <h1>Name = @Session["user"]</h1>
    <h1>Password = @Session["Pass"]</h1>
    <h2>Login Successful....</h2>
</body>
</html>